body {
  background-color:white;
}
a {
  color: #360e73;
}
a:link {
  color: #360e73;
}
a:hover {
  color: #7e0dff;
}
h1 {
  font-size: 32px;
  text-align: center;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
  text-align: center;
  
}
h6 {
  font-size: 12px;
}
img {
    display: block;
    margin: auto;
}

img-circle {
    border-radius: 20%;
}

.navbar {
  color: #7e0dff;
  background-color:#7e0dff;
}

.navbar-brand {
  color: #d1b3ff;
}
.navbar .navbar-nav>li>a {
  color: #d1b3ff;
  background-color:#7e0dff;
}
.navbar .navbar-nav>li>a:hover {
  color: #360e73;
  background-color:white;
}

.navbar .navbar-nav>.active>a {
  background-color:#7e0dff;
  color: #d1b3ff;
}
.navbar .navbar-nav>.active>a:hover {
  background-color:#ffffff;
  color: #360e73;
}    
